
.hero-img{
  background-image: url('assets/garbageCodeHeadingImg.png');
  height: 500px;
  /* border: solid black; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.firstBlockH1{
  padding: 20px 0;
  width: 50%;
  color: white;
}
.firstBlockp{
  padding-bottom: 20px;
}
.Gap{
  gap: 100px;
}
.DisplayFlex p{ 
  color: white;
}
.paddingbtm0{
  padding: 20px 20px 0px 20px;
}
.card{
  height: 300px;
  width: 200px;
  background-color: blueviolet;
}
.textContainer{
  width: 50%;
}
#card1{
  margin-right: -100px ;
}
#card2{
  height: 350px;
  width: 250px;
  background-color: brown;
  z-index: 2;
}
#card3{
  margin-left: -100px
}
.blogCarousel{
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}
.thirdSection .textContent{
  width: 50%;
}
#newestBlogImg{
  width: 300px;
  border-radius: 20px;
}
#newestBlog{
  /* background-color: aqua; */
  padding: 10px;
  border: 10px;
  box-shadow: 10px 10px 50px;
  border-radius: 10px;
  cursor: pointer;
  width: 320px;
}

@media screen and (max-width: 922px) {
  .DisplayBlock{
      display: block;
  }
  .thirdSection .textContent, .textContainer{
    width: 100%;
  }
  .hero-img{
    height: 300px;
  }
  .DisplayBlock{
    display: block;
  }
}
@media screen and (max-width: 472px) {
  .blogCarousel{
    width: 300px;
    height: 300px;
  }
  .card{
    height: 150px;
    width: 100px;
    background-color: blueviolet;
  }
  #card1{
    margin-right: -50px ;
  }
  #card2{
    height: 200px;
    width: 100px;
    background-color: brown;
    z-index: 2;
  }
  #card3{
    margin-left: -50px
  }
}